<div class="container">
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6">
      <h1 class="text-center">{{title}}</h1>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-6">
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>{{category1}}</th>
              <th>{{category2}}</th>
              <th>{{category3}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let location of locations">
              <td>{{location.codDepartamento}} {{location.departamento}}</td>
              <td>{{location.codProvincia}} {{location.provincia}}</td>
              <td>{{location.codDistrito}} {{location.distrito}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row top-pad">
        <div class="col-sm-4">
          <button class="btn btn-default btn-lg btn-block" (click)="shown = 'DEPARTAMENTO'">{{category1}}</button>
        </div>
        <div class="col-sm-4">
          <button class="btn btn-default btn-lg btn-block" (click)="shown = 'PROVINCIA'">{{category2}}</button>
        </div>
        <div class="col-sm-4">
          <button class="btn btn-default btn-lg btn-block" (click)="shown = 'DISTRITO'">{{category3}}</button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h3 *ngIf="shown === 'DEPARTAMENTO'">{{category1}}</h3>
          <h3 *ngIf="shown === 'PROVINCIA'">{{category2}}</h3>
          <h3 *ngIf="shown === 'DISTRITO'">{{category3}}</h3>
          <div class="table-responsive">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>Código</th>
                  <th>Nombre</th>
                  <th>Código Padre</th>
                  <th>Descripción Padre</th>
                </tr>
              </thead>
              <tbody *ngIf="shown === 'DEPARTAMENTO'">
                <tr *ngFor="let location of locations | unique">
                  <div *ngIf="!location.departamento; else showDepartamento"></div>
                  <ng-template #showDepartamento>
                    <td>{{location.codDepartamento}}</td>
                    <td>{{location.departamento}}</td>
                    <td>-</td>
                    <td>-</td>
                  </ng-template>
                </tr>
              </tbody>
              <tbody *ngIf="shown === 'PROVINCIA'">
                <tr *ngFor="let location of locations | uniquepr">
                  <div *ngIf="!location.provincia; else showProvincia"></div>
                  <ng-template #showProvincia>
                    <td>{{location.codProvincia}}</td>
                    <td>{{location.provincia}}</td>
                    <td>{{location.codDepartamento}}</td>
                    <td>{{location.departamento}}</td>
                  </ng-template>
                </tr>
              </tbody>
              <tbody *ngIf="shown === 'DISTRITO'">
                <tr *ngFor="let location of locations">
                  <div *ngIf="!location.distrito; else showDistrito"></div>
                  <ng-template #showDistrito>
                    <td>{{location.codDistrito}}</td>
                    <td>{{location.distrito}}</td>
                    <td>{{location.codProvincia}}</td>
                    <td>{{location.provincia}}</td>
                  </ng-template>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>